# Object files
*.o
*.ko
*.obj
*.elf
build
bin/main
bin/knapp-mic
.snakemake

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Miscelleneous
include/nba/element/*_map.hh
configs/pcre_table
.settings
scripts/run.sh

# Python
*.pyc
*.pyo
__pycache__

# Documentations
docs/_build

# Test cases
tests/test_*
!tests/test_*.cc
