[submodule "3rdparty/click-parser"]
	path = 3rdparty/click-parser
	url = https://github.com/leeopop/click-parser.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
