# Object files
*.o
*.ko
*.obj
*.elf
build
bin/main
.snakemake

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Miscelleneous
lib/*_map.hh
*.pyc
*.pyo
__pycache__
configs/pcre_table
.settings
