[submodule "3rdparty/click-parser"]
	path = 3rdparty/click-parser
	url = https://github.com/leeopop/click-parser.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/protobuf"]
	path = 3rdparty/protobuf
	url = https://github.com/google/protobuf
[submodule "3rdparty/protobuf-mic"]
	path = 3rdparty/protobuf-mic
	url = https://github.com/anlab-kaist/protobuf
	branch = mic-port
