

NSHADER:
{
	IOBATCH_SIZE = 32;
	COMPBATCH_SIZE = 32;
	SW_RXRING_LENGTH = 1024;
	SW_RXRING_THRES = 256;
	PIPELINE_DEPTH = 32;
	CUDA_PIPELINE_DEPTH = 64;
	BATCHPOOL_SIZE = 512;


	TASKPOOL_SIZE = 256;
	TASK_COMPLETION_QUEUE_LENGTH = 128;
	TASK_INPUT_QUEUE_LENGTH = 128;

	RXDESC_PER_RXQ = 128;
	TXDESC_PER_TXQ = 128;
	PREPKTQUEUE_SIZE = 128;
	
	
	/*
	MAX:
	{
		NODES = 2;
		CORES = 64;
		PORTS = 16;
		QUEUES_PER_PORT = 64;
		COPROCESSORS = 8;
		PACKET_SIZE = 2048;
		IOBATCH_SIZE = 256;
		COMPBATCH_SIZE = 256;
		SW_RXRING_LENGTH = 2048;
		PIPELINE_DEPTH = 256;
		CUDA_PIPELINE_DEPTH = 256;
		BATCHPOOL_SIZE = 512;
		ANNOTATION_SET_SIZE = 16;  //maximum possible: 64
		PREPKTQUEUE_SIZE = 128;
		NODELOCALSTORAGE_ENTRIES	= 16;
	};
	
	*/
};
